<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 col-lg-3 mb-4" *ngFor="let product of products">
      <div class="card">
        <a [routerLink]="'/product/' + product.id">
          <img class="card-img-top product-card-image" [src]="product.image" [alt]="'product.imageAlt' | translate:{ name: product.name }">    
            </a>
        <div class="card-body">
          <a [routerLink]="'/product/' + product.id">
            <h5 class="card-title">{{ product.name }}</h5>
          </a>
          <p class="card-text">Price: {{ product.price | currency:'SAR':'symbol':'1.2-2' }}</p>
          <p class="card-text">Stock: {{ product.stock }}</p>
          <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
